header {
  background: $neutral-white;
  padding: 1em 0;
}

.logo {
  margin: 0;
  padding: 0;
}

nav {
  display: block;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .nav__list {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  right: 0;
  top: 7px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: $primary-blue;
  height: 1px;
  width: 1.5em;
  position: relative;
  cursor: pointer;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle-label span::after {
  top: 5px;
}

.nav__list {
  position: absolute;
  z-index: 999;
  background: $neutral-white;
  width: 100%;
  display: none;
  margin: 1.5em 0 0 0;
  transform: scale(0.96);
  border-radius: 1%;
}

.nav__list li {
  text-align: center;
}

.nav__item {
  list-style: none;
  padding: 0.7em 0;
}

.nav__link {
  text-decoration: none;
  color: $primary-blue;
}

.nav__link.btn {
  display: none;
}

.nav__link:hover {
  opacity: 75%;
}
