header {
  background: $neutral-white;
  padding: 1em 0;
  position: relative;
  z-index: 999;
}

.logo {
  margin: 0;
  padding: 0;
}

nav {
  display: block;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .nav__list {
  display: block;
}

.nav-toggle-label {
  position: absolute;
  right: 0;
  top: 7px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: $primary-blue;
  height: 1px;
  width: 1.5em;
  position: relative;
  cursor: pointer;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 5px;
}

.nav-toggle-label span::after {
  top: 5px;
}

.nav__list {
  position: absolute;
  z-index: 999;
  background: $neutral-white;
  width: 100%;
  display: none;
  margin: 1.5em 0 0 0;
  transform: scale(0.96);
  border-radius: 1%;
  padding: 0.9em 0;
  filter: drop-shadow(1px 12px 50px #000);
}

.nav__list li {
  text-align: center;
}

.nav__item {
  list-style: none;
  padding: 0.7em 0;
}

.nav__link {
  text-decoration: none;
  color: $primary-blue;
  font-size: 18px;
}

.nav__item--btn {
  display: none;
}

.nav__link:hover {
  opacity: 75%;
}

@media (min-width: 590px) {
  nav,
  .nav__list--flex {
    display: flex;
  }

  nav {
    width: 90%;
    justify-content: space-around;
    align-items: center;
  }

  .nav__list {
    display: flex;
    width: 55%;

    /* disabling the mobile styling */
    position: unset;
    z-index: 0;
    transform: scale(1);
    filter: none;
    border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
  }

  .nav-toggle-label,
  .nav-toggle {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .nav__item {
    margin: 0 0.5em;
  }

  .nav__link {
    color: $neutral-gray;
  }
}

@media (min-width: 992px) {
  header {
    padding: 0.5em 0;
  }

  .logo,
  .nav__list,
  .nav__item.nav__item--btn {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 25%;
  }

  nav {
    width: 100%;
  }

  .nav__list {
    width: 50%;
    margin: 0 auto;
  }

  .nav__item {
    margin: 0 1em;
  }

  .nav__item.nav__item--btn {
    width: 25%;
  }

  .nav__item--btn {
    display: ruby block;
  }

  .nav__link.btn {
    /* btn stylings */
    background: linear-gradient(to right, $primary-lime, $primary-ocean);
    color: #fff;
    padding: 0.55em 2em;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
    font-weight: 400;
  }
}
