.hero__wrapper {
  background-image: url(/dist/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding: 0 0 3em 0;

  .hero__content {
    margin: 7em 0 2.5em 0;
  }

  .hero__content h1 {
    text-align: center;
    margin: 0;
  }

  .hero__content p {
    font-size: 15px;
    line-height: 1.63;
  }

  .hero__cta {
    margin: 3em 0;
    text-align: center;
  }

  .btn {
    background: linear-gradient(to right, $primary-lime, $primary-ocean);
    color: #fff;
    padding: 0.85em 2em;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
    font-weight: 400;
  }

  .btn:hover,
  .btn:focus {
    letter-spacing: 1px;
  }
}
