// Imported Fonts //

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

// Fonts //

$font: "Public Sans", sans-serif;

// Font Sizes //

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: $primary-blue;
}

p {
  color: $neutral-gray;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 31px;
}
