// Imported Fonts //

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

// Fonts //

$font: "Public Sans", sans-serif;

// Font Sizes //

$font-primary: 400;
$font-secondary: 300;
